{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}
<style>



</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}


{{ super() }}

{%block content%}
 
<p>cart page goes here</p>

<div>
    {%if cart%}
        <p>Cart id: {{cart.ID}} </p>
        {%for item in cart.items%}
            <p>Item name: {{item.product.name}} </p>
            <p>Item quantity: {{item.cart_quantity}} </p>
            <p>Item description: {{item.product.description}} </p>

        {%endfor%}
    {%else%}
        <P>There are no carts</P>
    {%endif%}


</div>

{%endblock%}

{% block script %}
<script>

</script>
{% endblock %}