{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}
<style>



</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}


{{ super() }}

{%block content%}
 
<p>cart page goes here</p>

<div>
    {%if cart%}
        <button><a href="/checkout" method="POST">Checkout</a></button>

        <form action="/checkout" method="POST">
            {% for item in cart.items %}
              <input type="hidden" name="product_id" value="{{ item.id }}">
              <input type="hidden" name="product_name" value="{{ item.name }}">
              <input type="hidden" name="price" value="{{ item.price }}">
              <input type="hidden" name="quantity" value="{{ item.quantity }}">
            {% endfor %}
            <button type="submit">Checkout Now</button>
          </form>
        <p>Cart id: {{cart.ID}} </p>
        {%for item in cart.items%}
            <button><a href="/removeFromCart/{{item.productID}}">Remove from cart here</a></button> <!-- Used the productID not ID, since the controller checks that, can change if you want. -->
            <button><a href="/updateInCart/{{item.productID}}">update price cart here</a></button>
            <p>Item name: {{item.product.name}} </p>
            <p>Item quantity: {{item.cart_quantity}} </p>
            <p>Item description: {{item.product.description}} </p>
            <P>The cart item id is: {{item.ID}} </P>
            <p>The product id is: {{item.productID}} </p>
            <P>The cart id is : {{item.cartID}} </P>

        {%endfor%}
    {%else%}
        <P>There are no carts</P>
    {%endif%}


</div>

{%endblock%}

{% block script %}
<script>

</script>
{% endblock %}