{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}
<style>
    


</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}


{{ super() }}

{%block content%}
 
<p>favourites page goes here</p>

<div>
    {%if favourites%}
        {% for favourite in favourites%}
        <p>Name: {{favourite.product.name}} </p>

        {%endfor%}
    {%else%}
        <p>NO FAVOURITES YET.</p>
    {%endif%}
</div>

{%endblock%}

{% block script %}
<script>

</script>
{% endblock %}