{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}

<style>
    .carousel {
    display: flex;
    flex-direction: row; /* important! */
    /* overflow-x: auto; */
    /* scroll-snap-type: x mandatory; */
    }

    .carousel-item {
    /* flex: 0 0 auto; */
    width: 5%; /* or whatever you prefer */
    height: 5%;
    /* scroll-snap-align: center; */
    }
</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}

{{ super() }}

{%block content%}
<p>Landing page content goes here</p>


    <div class="carousel" style="width: 100%;">
        <a class="carousel-item" href="#one!" ><img src="images/landingPageImages/asus.jpg"></a>
        <a class="carousel-item" href="#two!" ><img src=""></a>
    </div>





{%endblock%}

{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {});
    });
</script>

{% endblock %}