{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}
<style>
    


</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}


{{ super() }}

{%block content%}
 
<p>Orders page goes here</p>

<div>
    {%if orders%}
        {%for order in orders%}
            <p>Order no.: {{order.ID}} </p>
            <P>Order status: {{order.status}} </P>
        {%endfor%}
    {%else%}
        <p>NO ORDERS YET.</p>
    {%endif%}
</div>

{%endblock%}

{% block script %}
<script>

</script>
{% endblock %}