{% extends "LoginLayout.html" %}
{% block title %}Signup Page{% endblock %}
{% block page %}Blank name{% endblock %}

{{ super() }}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #7C90A0;
        transition: margin-left 0.5s;
        overflow: scroll;
    }

    .signup-card {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height:600px;
        max-height: calc(100vh); /* Ensure it does not exceed the screen height */
        overflow-y: auto; /* Allows scrolling if necessary */
        background-color: #FFFAFF;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 25px;
        animation: borderAnimation 3s infinite;
        bottom: 20px; /* Ensures the card does not go lower than 20px from the bottom */
    }


    @keyframes borderAnimation {
        0% { box-shadow: 0 0 0 0px #051d3c; }
        50% { box-shadow: 0 0 0 3px #051d3c; }
        100% { box-shadow: 0 0 0 0px #051d3c; }
    }

    .signup-header {
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-header h2 {
        margin-bottom: 10px;
        color: #051d3c;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"],
    .signup-form select {
        width: 100%; /* Ensure it fits inside the card */
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px; /* Adjusted for better look */
        box-sizing: border-box; /* Ensure padding doesn't exceed width */
    }

    .signup-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #051d3c;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .signup-form input[type="submit"]:hover {
        background-color: #032741;
    }

</style>
<div class="loginpage">
<div class="signup-card">
    <div class="signup-header">
        <h4>Sign Up</h4>
    </div>


    <form method="POST" action="/signup" class="signup-form">
        {{ form.hidden_tag() }}
        {{ form.firstname.label(style= "color: black;") }}<br>
        {{ form.firstname(size=32, placeholder="FirstName ...") }}<br>
        {% for error in form.firstname.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        {{ form.lastname.label(style= "color: black;") }}<br>
        {{ form.lastname(size=32, placeholder="LastName ...") }}<br>
        {% for error in form.lastname.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        {{ form.username.label(style= "color: black;") }}<br>
        {{ form.username(size=32, placeholder="Username ...") }}<br>
        {% for error in form.username.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        {{ form.email.label(style= "color: black;") }}<br>
        {{ form.email(size=32, placeholder="Email ...") }}<br>
        {% for error in form.email.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        {{ form.password.label(style= "color: black;") }}<br>
        {{ form.password(size=32, placeholder="Pasword ...") }}<br>
        {% for error in form.password.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        {{ form.confirm_password.label(style= "color: black;") }}<br>
        {{ form.confirm_password(size=32, placeholder="Confirm Password ...") }}<br>
        {% for error in form.confirm_password.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}
        {{ form.submit(class="btn", style="background-color: #3E92CC; text-align: center;padding:0;") }}
    </form>
    

    <div style="color: black; margin: 25px; text-align: center;">
        Already have an account? <a style="color: black; text-decoration: underline;" href="/login">Login</a>
    </div>

    <!-- {% if message %}
    <div class="message-container">
        <div class="message">
            <p>{{ message }}</p>
        </div>
    </div>
    {% endif %} -->


</div>
</div>
{% endblock %}