{% extends "layout.html" %}
{% block title %}       {% endblock %}
{% block page %}        {% endblock %}

{% block style %}
<style>
    .collapsible-body{
      background-color: white;
    }


</style>
{%endblock%}


{%block navbar_tabs%}

{%endblock%}


{{ super() }}

{%block content%}

<div class="FAQ-container">
  <h4 class="center-align">Frequently Asked Questions</h4>

  <ul class="collapsible popout">

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>What payment methods do you accept?</div>
      <div class="collapsible-body"><span>We accept Visa, MasterCard and PayPal. You are also welcomed to contact us directly to make direct deposits.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>Can I return or exchange an item?</div>
      <div class="collapsible-body"><span>Yes! You can return or exchange items within 14 days of receiving the item, as long as they are in original condition. Please contact us for more details.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>How long does delivery take?</div>
      <div class="collapsible-body"><span>Delivery typically takes 3-7 business days depending on your location.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>Do you ship internationally?</div>
      <div class="collapsible-body"><span>No, we currently do not offer international shipping.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>How do I check if my order was successful?</div>
      <div class="collapsible-body"><span>After checkout, you can visit your account's order history to see the status of your order. </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>What should I do if I receive a damaged item?</div>
      <div class="collapsible-body"><span>Please contact our support team within 48 hours of receiving the item, along with photos of the damage. We'll assist you with a replacement or refund.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">help_outline</i>I cancelled my checkout but it still says pending?</div>
      <div class="collapsible-body"><span>Orders which do not complete checkout, remain pending for 24-hours. If you do not wish to resume checkout within that 24-hour period the order is automatically cancelled.</span></div>
    </li>
  </ul>
</div>
{%endblock%}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
  });
</script>
{% endblock %}